.intro-bg{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    width: 380px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lg{
    width: 60px;
    /* background-color: aqua; */
}
.gl{
    width: 270px;
}

@media (max-width : 420px){
    .intro{
        width: 270px;
    }
    .lg{
        width: 40px;
    }
    .gl{
        width: 200px;
    }
  }