.background1{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: overlay;
    background-image: url(../Images/What\ is\ an\ Independent\ Contractor_\ Are\ They\ Employees_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    font-family: poppins;
    position: relative;

}
.vector{
    width: 100px;
    height: 100px;
    /* background-color: blueviolet; */
    animation: move 5s infinite !important;
    bottom: 0;
    position: absolute;
    transform: translateY(-20px);

    /* bottom: 0px; */
    /* margin-top: 120px; */
}
@keyframes move {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(0px);
    }
}
.vector img{
    width: 130px;
    bottom: 0;
    position: absolute;
}
.head{
    /* width: 100%; */
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */


}
.header{
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h{
    width: 60%;

    /* background-color: orangered; */
}
.head h1{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
.search-div{
    /* background-color: white; */
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-div input{
    width: 600px;
    padding: 15px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}
.search-div button{
    background-color: rgb(3,168,78);
    border: none;
    padding: 13px;
}


@media (max-width : 959px){
    .h{
        width: 80%;
    }
  }

  @media (max-width : 767px){
    .head h1{
        font-size: 30px;
    }
    .vector img{
        width: 110px;
        margin-top: 30px;

    }
  }
  
  @media (max-width : 414px){
    .vector img{
        width: 110px;
        margin-top: 150px;

    }
  }

  @media (max-width : 375px){
    .vector img{
        width: 110px;
        margin-top: 70px;

    }
  }
