.applicants-div{
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.26);
    font-family: poppins;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px 0px;
    position: relative;
    /* position: absolute; */
}
.appli{
    width: 95%;
    height: fit-content;
}



.applicants-table{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 1px; */
    background-color: green;
    /* padding: 15px; */
    /* border-radius: 20px; */
    /* overflow-y: scroll; */
    /* position: relative; */

}
.applicant-name, .applicants-name{
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.042);
    /* background-color: yellowgreen; */
}
.applicants-name{
    display: flex;
    /* justify-content: start; */
}
.applicant-name button{
    /* width: 100px;
    height: 40px; */
    border: none;
    /* padding: 5px 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px; */
}
.accept button{
    width: 100px;
    height: 40px;
    border: none;
    padding: 5px 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.user2{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: yellow;
}
.user2 img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: yellow;
    object-fit: cover;
}
.accept{
    width: 210px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.a{
    display: flex;
    align-items: center;
}
.name{
    /* width: 300px; */
    /* background-color: yellow; */
    margin-left: 30px;
}



@media (max-width : 1068px){
    .name {
        /* width: 250px; */
    }
    .name h5{
        font-size: 18px;
    }
}

@media (max-width : 980px){
    
    .applicants-name button{
        width: 80px;
        font-size: 14px;
        margin: 0;
        /* padding: 3px 12px; */

    }
}

@media (max-width : 894px){
    .accept{
        /* width: 170px; */
        /* background-color: aqua; */
    }
}
@media (max-width : 672px){
    .name {
        /* width: 220px; */
    }
    .name h5{
        font-size: 17px;
    }
    .accept{
        width: 80px;
        padding: 5px 0px;
    }
    .applicants-name button{
        height: 30px;
    }
}
@media (max-width : 520px){
    .name h5{
        font-size: 15px;
    }
    .name h6{
        font-size: 8px;
    }
    .user2{
        width: 45px;
        height: 45px;
    }
    .name{
        margin-left: 10px;
    }
    .applicants-name{
        padding: 12px 10px;
    }
    .z{
        display: none;
    }

}







