.changepassword-div{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-div{
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-top: 4px solid rgb(3,168,78);
}
.changepassword-div h3{
    /* margin-top: 80px; */
    font-weight: 700;
}
.change-div form{
    width: 80%;
    /* background-color: brown; */
    margin-top: 30px;
}
.change-div input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.219);
}
.change-div button{
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(3,168,78);
    margin-top: 30px;
}
.vv{
    background-color: aqua;
    color: green;
}



@media (max-width : 995px){
    .change-div form{
        width: 100%;
        /* background-color: brown; */
        margin-top: 30px;
    }
   }