.outlet-div{
    width: 100%;
    /* height: 93vh; */
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    /* position: absolute; */
}
.flexed{
    width: 83%;
    /* height: fit-content; */
    right: 0;
    position: absolute;
    /* height: 100vh; */
    /* background-color: brown; */
    top: 60px;
    /* z-index: 9; */
}
.big-container{
    width: 100%;
    height: 100vh;
    /* background-color: purple; */
}


@media (max-width : 949px){
    .flexed{
        width: 100%;
    }
  }
